<script src="https://www.paypal.com/sdk/js?client-id=<%= ENV['PAYPAL_CLIENT_ID'] %>"></script>
<%= stripe_javascript_tag %>

<div>
    <h1>List of products</h1>
    <%= form_tag({ controller: "orders", action: "submit" }, id: 'order-details') do %>
      <input id="order-type" type="hidden" value="stripe" name="orders[payment_gateway]">
      
      <div class="form_row">
        <h4>Charges/Payments</h4>
        <% @products_purchase.each do |product| %>
          <div data-charges-and-payments-section="true">
            <%= radio_button_tag 'orders[product_id]', product.id, @products_purchase.first == product %>
            <span id="radioButtonName<%= product.id %>"><%= product.name %></span>
            <span id="radioButtonPrice<%= product.id %>" data-price="<%= product.price_cents %>"><%= humanized_money_with_symbol(product.price) %></span>
          </div>
          <br>
        <% end %>
        
        <h4>Subscriptions</h4>
        <% @products_subscription.each do |product| %>
          <div>
            <%= radio_button_tag 'orders[product_id]', product.id, false %>
            <span id="radioButtonName<%= product.id %>"><%= product.name %></span>
            <span id="radioButtonPrice<%= product.id %>" data-price="<%= product.price_cents %>"><%= humanized_money_with_symbol(product.price) %></span>
          </div>
          <br>
        <% end %>
      </div>
      
      <hr>
      
      <h1>Payment Method</h1>
      <div class="form_row">
        <div>
          <%= radio_button_tag 'payment-selection', 'stripe', true, onclick: "changeTab();" %>
          <span>Stripe</span>
        </div>
        <br>
        <div>
          <%= radio_button_tag 'payment-selection', 'paypal', false, onclick: "changeTab();" %>
          <span>PayPal</span>
        </div>
        <br>
        <div>
          <%= radio_button_tag 'payment-selection', 'phonepe', false, onclick: "changeTab();" %>
          <span>PhonePe</span>
        </div>
        <br><br>
        
        <div id="tab-stripe" class="paymentSelectionTab active">
          <div id="card-element"></div>
          <div id="card-errors" role="alert"></div>
          <br><br>
          <%= submit_tag "Buy it!", id: "submit-stripe" %>
        </div>
        
        <div id="tab-paypal" class="paymentSelectionTab">
          <div id="submit-paypal"></div>
        </div>

        <div id="tab-phonepe" class="paymentSelectionTab">
          <button type="button" id="submit-phonepe" class="btn btn-primary">Pay with PhonePe</button>
        </div>  
        <br><br>
      </div>
      <hr>
    <% end %>
    
  <script>
    function changeTab() {
      var newActiveTabID = $('input[name="payment-selection"]:checked').val();
      $('.paymentSelectionTab').removeClass('active');
      $('#tab-' + newActiveTabID).addClass('active');
    }

    (function setupStripe() {
      // Initialize stripe with publishable key
      var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");

      // Create Stripe credit card elements
      var elements = stripe.elements();
      var card = elements.create('card');

      // Add a listener in order to check if the div card-errors contains error details if any
      card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        document.getElementById('submit-stripe').disabled = false;
        if (event.error) {
          displayError.textContent = event.error.message;
        } else {
          displayError.textContent = '';
        }
      });

      // Mount Stripe card element in the #card-element div
      card.mount('#card-element');

      var form = document.getElementById('order-details');
      form.addEventListener('submit', function(event) {
        $('#submit-stripe').prop('disabled', true);
        event.preventDefault();
        stripe.createToken(card).then(function(result) {
          if (result.error) {
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
          } else {
            var $form = $("#order-details");
            $form.append($('<input type="hidden" name="orders[token]"/>').val(result.token.id));
            $('#order-type').val('stripe');
            $form.submit();
          }
        });
        return false;
      });
    }());

    (function setupPaypal() {
      function isPayment() {
        return $('[data-charges-and-payments-section] input[name="orders[product_id]"]:checked').length;
      }

      function submitOrderPaypal(chargeID) {
        var $form = $("#order-details");
        $form.append($('<input type="hidden" name="orders[charge_id]"/>').val(chargeID));
        $('#order-type').val('paypal');
        $form.submit();
      }

      paypal.Buttons({
        env: "<%= ENV['PAYPAL_ENV'] %>",
        createOrder: function() {
          $('#order-type').val("paypal");
          if (isPayment()) {
            return $.post("<%= paypal_create_payment_url %>", $('#order-details').serialize()).then(function(data) {
              return data.token;
            });
          } else {
            return $.post("<%= paypal_create_subscription_url %>", $('#order-details').serialize()).then(function(data) {
              return data.token;
            });
          }
        },
        onApprove: function(data) {
          if (isPayment()) {
            return $.post("<%= paypal_execute_payment_url %>", {
              paymentID: data.paymentID,
              payerID:   data.payerID
            }).then(function() {
              submitOrderPaypal(data.paymentID)
            });
          } else {
            return $.post("<%= paypal_execute_subscription_url %>", {
              subscriptionToken: data.orderID
            }).then(function(executeData) {
              submitOrderPaypal(executeData.id)
            });
          }
        }
      }).render('#submit-paypal');
    }());

    (function setupPhonePe() {
      document.getElementById('submit-phonepe').addEventListener('click', function () {
        var $form = $("#order-details");
        $('#order-type').val('phonepe');
        $form.submit();
      });
    })();
  </script>

  <style>
    #card-element {
      width:500px;
    }
    .paymentSelectionTab {
      display: none;
    }
    .paymentSelectionTab.active {
      display: block !important;
    }
  </style>
